<events>
<event category="Microsoft">
<title lang="en">Microsoft Events Catalog</title>
<url>https://events.microsoft.com</url>
<dateStart>Jan-2022</dateStart>
<dateEnd>Dec-2022</dateEnd>
<description>A fully-searchable catalog of events conducted by Microsoft and their partners.</description>
</event>
<event category="Microsoft">
<title lang="en">Microsoft Ignite</title>
<url>https://myignite.microsoft.com/home</url>
<dateStart>Oct 12, 2022</dateStart>
<dateEnd>Oct 14, 2022</dateEnd>
<description>Until our next event experience, check out the latest learning opportunities, recent event highlights, and more.</description>
</event>
<event category="Community">
<title lang="en">Azure Data Conference - Las Vegas </title>
<url>https://azuredataconf.com/#!/</url>
<dateStart>Dec 4, 2022</dateStart>
<dateEnd>Dec 9, 2022</dateEnd>
<description>Conference: Dec. 6th-8th
Workshops: Dec. 4th, 5th, 9th
Join your favorite Microsoft leaders, including EVP Scott Guthrie, and CVP Rohan Kumar, as they share their excitement about the future of Microsoft technologies. Their keynotes set the stage for this great learning event. 

The Microsoft engineers presenting will take a deep dive with you into the many new technology releases, including the latest updates to SQL Server, Azure SQL, and the entire Azure Data Platform.

You’ll also have the opportunity to spend time with Microsoft engineers and industry experts you know and trust to present real-world solutions and tips for productivity. Join other leaders from the Azure Data Community to connect, network and grow!
</description>
</event>
<event category="Community"><title lang="en">Data Saturday Atlanta</title>
<url>https://datasaturdays.com/2022-10-01-datasaturday0028/</url>
<dateStart>01-Oct-2022</dateStart>
<dateEnd>01-Oct-2022</dateEnd>
<description>Data Saturday Atlanta is a free, one day event  where we partner with speakers from all over the US, vendors and the Microsoft Product Group to bring you 4 tracks of 24 sessions covering topics like Database Administration, DevOps, Analytics or Professional Development.  
Registration opens August 1st.  Call for Speakers is open until August 19th. </description>
</event>
 <event category="Community"><title lang="en">Data Relay</title>M70
<url>https://datarelay.co.uk/</url>
<dateStart>04-Oct-2022</dateStart>
<dateEnd>07-Oct-2022</dateEnd>
<description>The UK's only travelling Data Platform conference is back on the road for 2022. This year we will be stopping off at:
Leeds - Oct 4, 2022
Birmingham - Oct 5, 2022
Reading - Oct 6, 2022
Bristol - Oct 7, 2022
Call for Speakers is open through August 31, 2022 at https://sessionize.com/data-relay-2022/ </description>
</event>
 <event category="Community"><title lang="en">New Stars of Data #4</title>
<url>https://www.newstarsofdata.com/</url>
<dateStart>07-Oct-2022</dateStart>
<dateEnd>07-Oct-2022</dateEnd>
<description>New Stars of Data is an event to help find and promote new speakers in the Microsoft Data Platform arena. It is run by Ben Weissman and William Durkin. Speakers submit their presentation ideas and are assigned to a seasoned speaker, who will mentor the newcomer in all aspects around delivering a presentation.

The event is the natural extension of the *Newcomer Track* from DataGrillen where a single track was dedicated to nurturing new speaker talent. New Stars of Data is an entire event focused only on newcomer speakers.</description>
</event>
 <event category="Community"><title lang="en">Dativerse #2</title>
<url>http://dativerse.io</url>
<dateStart>07-Oct-2022</dateStart>
<dateEnd>07-Oct-2022</dateEnd>
<description>Dativerse is a new event in the Microsoft Data Platform space.

We try to elevate those that are usually underrepresented at conferences due to their race, gender, sexual orientation, location or any other reason.

We aim to create a safe environment for everyone and welcome seasoned speakers and newcomers alike. Should you require a mentor, we will make sure you will get all the help you’ll need to deliver your session!</description>
</event>
 <event category="Community"><title lang="en">Data Saturday Sofia 2022</title>
<url>https://bsc.technology/DataSaturdaySofia/</url>
<dateStart>08-Oct-2022</dateStart>
<dateEnd>08-Oct-2022</dateEnd>
<description>Data Saturday Sofia is a one-day event for professionals who use the Microsoft data platform technologies. This community event offers content across many segments of data platform learning.</description>
</event>
<event category="Community"><title lang="en">SQL Saturday Nepal 2022 (#1025)</title>
<url>https://sqlsaturday.com/nepal</url>
<dateStart>08-Oct-2022</dateStart>
<dateEnd>08-Oct-2022</dateEnd>
<description>SQL Saturday Nepal is a one day, free training event for data platform professionals.</description>
</event>
<event category="Community"><title lang="en">SQL Saturday Boston 2022 (#1031)</title>
<url>https://sqlsaturday.com/boston/</url>
<dateStart>08-Oct-2022</dateStart>
<dateEnd>08-Oct-2022</dateEnd>
<description>SQL Saturday Boston is a free one day training event for IT professionals and students interested in the Microsoft data platform (SQL Server, PowerBI, SSIS, and much more). Free registration is required, you can opt-in for lunch or bring your own, whatever works for you!

This event is taking place at the Microsoft Technology Center near Boston and only registered users will be allowed to enter the Microfost facility.</description>
</event>
 <event category="Community"><title lang="en">SQL Saturday Orlando 2022 (#1030)</title>
<url>https://sqlsaturday.com/2022-10-08-sqlsaturday1030/</url>
<dateStart>08-Oct-2022</dateStart>
<dateEnd>08-Oct-2022</dateEnd>
<description>SQL Saturday Orlando is a free one day training event for IT professionals and students interested in the Microsoft data platform (SQL Server, PowerBI, SSIS, and much more). Free registration is required, you can opt-in for lunch or bring your own, whatever works for you! This year we will have five tracks containing five one hour sessions, plus three sponsored sessions during the lunch break.</description>
</event>
 <event category="Community"><title lang="en">dataMinds Connect</title>
<url>https://datamindsconnect.be/</url>
<dateStart>10-Oct-2022</dateStart>
<dateEnd>11-Oct-2022</dateEnd>
<description>dataMinds Connect is a 2 day in-person event in the wonderful city of Mechelen, Belgium in the Lamot Conference and Heritage Centre (Van Beethovenstraat 8-10 B2800 Mechelen). It’s an IT related event with a specific focus on the Microsoft (Azure) Data Platform.

Go ahead and clearly mark Monday October 10th and Tuesday October 11th 2022 in your schedule, as these will be 2 days you don’t want to miss!</description>
</event>
 <event category="Community"><title lang="en">Denver Dev Day</title>
<url>http://denverdevday.com/</url>
<dateStart>21-Oct-2022</dateStart>
<dateEnd>21-Oct-2022</dateEnd>
<description>What is Denver Dev Day?

Welcome to Denver Dev Day, Colorado's premier, local community-organized data and developer event. With presentation topics ranging from desktop, micro-services, and web development to patterns, the cloud, and soft skills, Denver Dev Day is your awesome, free, day-long resource for developer learning.

It's a conference, silly!
Call for speakers is open until Sept 30 https://sessionize.com/DenverDevDay-Fall-2022/</description>
</event>
 <event category="Community"><title lang="en">SQL Saturday RVA</title>
<url>http://sqlsaturday.com/richmond</url>
<dateStart>22-October-2022</dateStart>
<dateEnd>22-October-2022</dateEnd>
<description>A free day-long training event for people interested in the MS SQL data platform, Azure, PowerBI & Azure Data Factory. </description>
</event>
<event category="Community"><title lang="en">SQL Saturday Toronto 2022</title>
<url>https://sqlsaturday.com/toronto</url>
<dateStart>22-Oct-2022</dateStart>
<dateEnd>22-Oct-2022</dateEnd>
<description>SQL Saturday Toronto 2022 is a full day of free training and cutting-edge educational material for the professionals in the Microsoft Data Platform space. We will bring to you World-grade technical speakers to deliver demos loaded presentations.
  Call for Speakers is open until Aug 19, 2022 https://sessionize.com/sql-saturday-toronto-2022/
  </description>
 </event>
<event category="Community"><title lang="en">SQL Saturday RVA</title>
<url>http://sqlsaturday.com/richmond</url>
<dateStart>22-Oct-2022</dateStart>
<dateEnd>22-Oct-2022</dateEnd>
<description>SQL Saturday RVA (Richmond, Virginia) is a free one-day training event for IT professionals and students interested in the Microsoft data platform: SQL Server Databases, Business Intelligence, Data Analytics, and more.  
  Call for speakers is open until Aug 31, 2022 https://sessionize.com/sql-saturday-rva/</description>
</event>
<event category="Community"><title lang="en">PostgreSQL Conference Europe</title>
<url>https://2022.pgconf.eu/</url>
<dateStart>25-Oct-2022</dateStart>
<dateEnd>25-Oct-2022</dateEnd>
<description>PostgreSQL Conference Europe is by far the largest PostgreSQL conference in Europe.

Over a decade of PostgreSQL
This year's conference is the 12th Annual PostgreSQL Conference Europe, and for this year we are going to Berlin, Germany. The conference is organised by PostgreSQL Europe, with participation from most of the PostgreSQL user groups around Europe, and is intended to be an important meeting and cooperation point for users both in and out of Europe.

PGConf.EU is a unique chance for European PostgreSQL users and developers to catch up, learn, build relationships, get to know each other and consolidate a real network of professionals that use and work with PostgreSQL.</description>
</event>
 <event category="Community"><title lang="en">SQL Saturday São Paulo 2022 (#1037) </title>
<url>https://sqlsaturday.com/saopaulo</url>
<dateStart>05-November-2022</dateStart>
<dateEnd>05-November-2022</dateEnd>
<description>SQL Saturday is a global event to bring Information Technology speakers and professionals together for a community-driven, community-attended free day of technical training.
   Call for Speakers closes Oct 15, 2022!</description>
</event>
 <event category="Community"><title lang="en">SQL Saturday Oregon and SW Washington 2022 (#1035)</title>
<url>https://sqlsaturday.com/oregon</url>
<dateStart>12-Nov-2022</dateStart>
<dateEnd>12-Nov-2022</dateEnd>
<description>SQL Saturday Oregon is a free one day training event for Data Professionals interested in the Microsoft Data Platform. Topics covered include: SQL Server, Power BI, Azure Synapse, Data Visualization, DataVerse, and much more!</description>
</event>
 <event category="Community"><title lang="en">SQL Saturday Bangladesh 2022</title>
<url>https://sqlsaturday.com/bangladesh</url>
<dateStart>12-Nov-2022</dateStart>
<dateEnd>12-Nov-2022</dateEnd>
<description>SQL Saturday Bangladesh is the first annual SQL Saturday organized by the techforum technical community and focused on data platform market needs.

This is a free training day full of information about Microsoft Data Platform brought to us by the best international speakers available.  
Call for Speakers closes Oct 29, 2022.  https://sessionize.com/sqlsaturday-2022-techforum-bangladesh/</description>
</event>
<event category="Community"><title lang="en">Live! 360 Tech Conference 2022</title>
<url>https://live360events.com/Home.aspx</url>
<dateStart>13-Nov-2022</dateStart>
<dateEnd>18-Nov-2022</dateEnd>
<description>Live! 360 brings the IT, Developer, and Data communities together for six days of training, knowledge sharing, and networking in Sunny Orlando. With unlimited access to Live! 360’s five co-located events, you and your team will get the training you need to keep you and your business competitive and future-ready. Live! 360 = the Ultimate Education Destination!</description>
</event>
<event category="Community"><title lang="en">PASS Data Community Summit</title>
<url>https://passdatacommunitysummit.com</url>
<dateStart>15-Nov-2022</dateStart>
<dateEnd>18-Nov-2022</dateEnd>
<description>Join the world’s largest gathering of data professionals at this year’s hybrid PASS Data Community Summit. Whether you're attending online or in-person, this is your opportunity to connect, share, and learn with thousands of your peers and experts from the global data platform community.</description>
</event>
 <event category="Community"><title lang="en">Difinity</title>
<url>https://difinity.co.nz/</url>
<dateStart>28-Nov-2022</dateStart>
<dateEnd>28-Nov-2022</dateEnd>
<description>Microsoft AI, Data, and Power Platform Conference
Difinity is the largest Microsoft Data, AI, Power BI, Power Platform and Business Applications Conference in New Zealand focusing on Data Platform, AI, Business Intelligence, Business Applications, Power Platform, and Analytics. IT Decision Makers, Developers, Business Analysts, IT Professionals, BI Managers, BI Professionals, Database Administrators, Architects, Digital and Big Data business leaders, and Consultants will gather for two consecutive days of learning.

Difinity Conference been running in New Zealand since 2017, and this would be our 5th year’s anniversary event. We want to make it an special event full of learning, fun, and networking opportunities.</description>
</event>
 <event category="Community"><title lang="en">SQL Saturday MN 2022 (#1028)</title>
<url>https://sqlsaturday.com/2022-12-03-sqlsaturday1028/</url>
<dateStart>03-Dec-2022</dateStart>
<dateEnd>03-Dec-2022</dateEnd>
<description>SQL Saturday MN 2022 is a free virtaul training event for data platform professionals. #SQLSATMN </description>
</event>
</events>
