<events>
<event category="Microsoft">
<title lang="en">Microsoft Events Catalog</title>
<url>https://events.microsoft.com</url>
<dateStart>Jan-2022</dateStart>
<dateEnd>Dec-2022</dateEnd>
<description>A fully-searchable catalog of events conducted by Microsoft and their partners.</description>
</event>
<event category="Microsoft">
<title lang="en">Microsoft Ignite</title>
<url>https://myignite.microsoft.com/home</url>
<dateStart>TBD 2022</dateStart>
<dateEnd>TBD 2022</dateEnd>
<description>Until our next event experience, check out the latest learning opportunities, recent event highlights, and more.</description>
</event>
<event category="Community">
<title lang="en">SQL Server and AzureSQL Conference - Las Vegas </title>
<url>https://www.devintersection.com/#!/?track=sql</url>
<dateStart>Fall 2022 TBD</dateStart>
<dateEnd>Fall 2022 TBD</dateEnd>
<description>THE INTERSECTION OF CO-LOCATED TECHNOLOGY EVENTS: Microsoft SQL Server Azure SQL Conference and Azure + AI Conference
Azure Data and SQL Community are coming together in Las Vegas, April 2022. Join Microsoft Executives and members of the Azure Data product group for sessions and keynotes where they share new releases and where the future will take the tech industry.

This is the largest in-person event in two years featuring 200+ in depth sessions delivered by your favorite Microsoft engineers and industry experts in addition to 20+ full day workshops.
</description>
</event>
 <event category="Community"><title lang="en">SQL Saturday Jacksonville 2022</title>
<url>https://sqlsaturday.com/jax</url>
<dateStart>14-May-2022</dateStart>
<dateEnd>14-May-2022</dateEnd>
<description>Jacksonville's 14th Annual SQL Saturday event includes two paid pre-con tracks and one FREE day of training sessions for Microsoft Data Platform professionals and those wanting to grow their skill set in Business Intelligence, Analytics, and SQL Server. </description>
</event>
<event category="Community"><title lang="en">Data Saturday Stockholm 2022</title>
<url>https://datasatsto.se/</url>
<dateStart>21-May-2022</dateStart>
<dateEnd>21-May-2022</dateEnd>
<description>Attend this free, one-day conference in Stockholm to sharpen your skills on the Microsoft data platform, and to connect to other professionals in your space! We’ll offer sessions from leading world-class international and local speakers, across data management, cloud and hybrid architecture, analytics and BI, and so much more.</description>
</event>
<event category="Community">
<title lang="en">DataGrillen 2022</title>
<url>http://www.DataGrillen.com</url>
<dateStart>02-June-2022</dateStart>
<dateEnd>03-June-2022</dateEnd>
<description>Databases, Bratwurst, Bier
The most flavoursome Data Platform event on the planet</description>
</event>
<event category="Community">
<title lang="en">PowerShell Conference Europe</title>
<url>https://psconf.eu</url>
<dateStart>20-June-2022</dateStart>
<dateEnd>20-June-2022</dateEnd>
<description>Discover what professionals around the globe are doing to solve real-world problems!
Beyond PowerShell, today's engineers need to understand DevOps and increasingly evolve in the cloud. Meet the welcoming PowerShell community and talk as equals. At the PowerShell Conference Europe you can sit and talk with anyone - speakers, attendees, members of the product team. Share your code and show how you are solving problems so that others can learn from you. You can also learn from those that have a different approach to the same problem. Often, people team up after events to join forces to tackle common problems to build fantastic solutions.</description>
</event>
 <event category="Community"><title lang="en">Data Toboggan - Cool Runnings</title>
<url>https://www.datatoboggan.co.uk/</url>
<dateStart>09-July-2022</dateStart>
<dateEnd>09-July-2022</dateEnd>
<description>Join us for our fourth event, Data Toboggan Cool Runnings 2022, specializing on Azure Synapse Analytics!  To provide that end to end picture of analytics the sessions cover Azure Synapse Analytics and integrated  technologies.

Azure Synapse Analytics is a practically limitless analytics service that brings together data integration, enterprise data warehousing and big data analytics. It is this analytical power that will help enable any organisation to transform from being reactive into being truly proactive, generating actionable insights that enable both business flow and timely decision-support. 

Our next conference is on Saturday 9th July 2022. This is a virtual event which crosses multiple time zones and is free to attend.</description>
</event>
<event category="Community"><title lang="en">SQL Saturday New Jersey 2022</title>
<url>https://sqlsaturday.com/nj/</url>
<dateStart>23-July-2022</dateStart>
<dateEnd>23-July-2022</dateEnd>
<description>SQL Saturday New Jersey is a one day, free training event for data platform professionals. </description>
</event>
 <event category="Community"><title lang="en">SQL Saturday #1026 - Baton Rouge 2022</title>
<url>https://sqlsaturday.com/BR/</url>
<dateStart>06-Aug-2022</dateStart>
<dateEnd>06-Aug-2022</dateEnd>
<description>SQLSaturday is a global event to bring Information Technology speakers and professionals together for a community-driven, community-attended free day of technical training. </description>
</event>
 <event category="Community"><title lang="en">DATA:Scotland</title>
<url>https://www.datascotland.org/</url>
<dateStart>01-Sept-2022</dateStart>
<dateEnd>01-Sept-2022</dateEnd>
<description>DATA Scotland is an annual, free training conference, focused on all things DATA. Founded in 2017, we have grown from strength to strength. We are organised BY community volunteers FOR the data community.
 
DATA Scotland is Scotland's data community event. Bringing experts and attendees together, this free to attend conference is about sharing knowledge and insight through hour-long talks which discuss new data technologies and techniques, to help to solve problems and propose solutions. Sessions cater for all skill levels from introductory talks to deep-dive presentations. At DATA Scotland you can engage with experts and network with peers in the data community.</description>
</event>
 <event category="Community"><title lang="en">DATA BASH</title>
<url>https://databash.live/</url>
<dateStart>10-Sept-2022</dateStart>
<dateEnd>10-Sept-2022</dateEnd>
<description>A fun online conference organized out of Germany, Austria and Switzerland (DACH). It is free, online, interactive and fun data community conference for Microsoft's Data Stack.</description>
</event>
<event category="Community"><title lang="en">Live! 360 Tech Conference 2022</title>
<url>https://live360events.com/Home.aspx</url>
<dateStart>13-Nov-2022</dateStart>
<dateEnd>18-Nov-2022</dateEnd>
<description>Live! 360 brings the IT, Developer, and Data communities together for six days of training, knowledge sharing, and networking in Sunny Orlando. With unlimited access to Live! 360’s five co-located events, you and your team will get the training you need to keep you and your business competitive and future-ready. Live! 360 = the Ultimate Education Destination!</description>
</event>
<event category="Community"><title lang="en">PASS Data Community Summit</title>
<url>https://passdatacommunitysummit.com</url>
<dateStart>15-Nov-2022</dateStart>
<dateEnd>18-Nov-2022</dateEnd>
<description>Join the world’s largest gathering of data professionals at this year’s hybrid PASS Data Community Summit. Whether you're attending online or in-person, this is your opportunity to connect, share, and learn with thousands of your peers and experts from the global data platform community.</description>
</event>
</events>
