<events>
<event category="Microsoft">
<title lang="en">Microsoft Events Catalog</title>
<url>https://events.microsoft.com</url>
<dateStart>Jan-2023</dateStart>
<dateEnd>Dec-2023</dateEnd>
<description>A fully-searchable catalog of events conducted by Microsoft and their partners.</description>
</event>
<event category="Microsoft">
<title lang="en">Microsoft Ignite</title>
<url>https://myignite.microsoft.com/home</url>
<dateStart>Nov 15, 2023</dateStart>
<dateEnd>Nov 16, 2023</dateEnd>
<description>Until our next event experience, check out the latest learning opportunities, recent event highlights, and more.</description>
</event>
<event category="Community">
<title lang="en">Azure Data Conference - Orlando </title>
<url>https://azuredataconf.com/</url>
<dateStart>Dec 3, 2023</dateStart>
<dateEnd>Dec 8, 2023</dateEnd>
<description>
Join your favorite Microsoft leaders and engineers as they share their excitement about the future of Microsoft technologies. Their keynotes set the stage for this great learning event. 

The Microsoft engineers presenting will take a deep dive with you into the many new technology releases, including the latest updates to SQL Server, Azure SQL, and the entire Azure Data Platform.

You’ll also have the opportunity to spend time with Microsoft engineers and industry experts you know and trust to present real-world solutions and tips for productivity. Join other leaders from the Azure Data Community to connect, network and grow!
</description>
</event>
<event category="Community">
 <title lang="en">SQL Bits 2023</title>
<url>https://events.sqlbits.com/2023/</url>
<dateStart>14-Mar-2023</dateStart>
<dateEnd>18-Mar-2023</dateEnd>
<description> SQLBits is THE conference for leading data professionals to network, develop and share data knowledge. SQLBits is the largest Data Platform conference with over 300 sessions over 5 days covering data technologies, including SQL Server, Azure, Big Data, Power BI, Machine Learning, and more! 
 Born out of the hunger to share the latest developments, solutions and best practice, whilst forming a network of data professionals behind some of the most exciting developments on the Modern Data Platform.
SQLBits provides you with the education, skills and solutions from the people that have created the products, and are leading the field worldwide. This is your chance to meet the people that design and build the products you use and depend on. 
Where?
International Convention Centre, Celtic Manor, Newport, Wales NP18 1HQ 
 </description>
</event>
 <event category=""Community""><title lang=""en"">Citus Con: An Event for Postgres</title>
<url>https://www.citusdata.com/cituscon/2022/</url>
<dateStart>18-Apr-2023</dateStart>
<dateEnd>19-Apr-2023</dateEnd>
<description>Citus Con: An Event for Postgres is a free and virtual developer event happening April 18-19 —organized by the Postgres team at Microsoft. There will be livestream talks in 3 geographies, plus on-demand talks too—from Citus open- source users, Azure Database for PostgreSQL customers, and experts in Postgres and Citus.  
 
Talks are 25 minutes long and in English. Check out the #CitusCon Call for Speakers. (Hurry, the CFP closes February 5!)
</description>
</event>
 <event category="Community">
<title lang="en">PSConfEU</title>
<url>https://psconf.eu/</url>
<dateStart>19-Jun-2023</dateStart>
<dateEnd>22-Jun-2023</dateEnd>
<description>Join us June 19th-22nd 2023 at Cubex Centrum, Prague, Czech Republic to discover what professionals around the globe are doing to solve real-world problems! 
 Beyond PowerShell, today's engineers need to understand DevOps and increasingly evolve in the cloud. Meet the welcoming PowerShell community and talk as equals. At the PowerShell Conference Europe you can sit and talk with anyone - speakers, attendees, members of the product team. 
 Share your code and show how you are solving problems so that others can learn from you and learn from those that have a different approach to the same problem. </description>
</event>
<event category="Community">
<title lang="en">PostgreSQL Conference Europe</title>
<url>https://2023.pgconf.eu/</url>
<dateStart>12-Dec-2023</dateStart>
<dateEnd>15-Dec-2023</dateEnd>
<description>PostgreSQL Conference Europe is by far the largest PostgreSQL conference in Europe.

Over a decade of PostgreSQL
The conference is organised by PostgreSQL Europe, with participation from most of the PostgreSQL user groups around Europe, and is intended to be an important meeting and cooperation point for users both in and out of Europe.

PGConf.EU is a unique chance for European PostgreSQL users and developers to catch up, learn, build relationships, get to know each other and consolidate a real network of professionals that use and work with PostgreSQL.
</description>
</event>
</events>
